syntax: glob

*.pyc
build/*
website/build/*
target/*
pythonenv/*
webdriver/*
reports/*
.vscode/*
website/hashvalues.json
deployment/buildno.txt
deployment/default/index.html
menial_pkg.tar.gz
menial.tar.gz
cert.pem
key.pem
auth.db
