/* Phone */
@media (max-width: 767px) and (max-width: 767px) {}

@media (min-width: 1025px) {}

body, html {
    height: 100%;
}

h1 {
    color: green;
}

h2 {
    color: green;
    font-size: 20px;
    margin-top: 50px;
}

h1 a {
    color: green;
    text-decoration: none;
}

a {
    color: blue;
}

table {
    text-align: left;
    width: 500px;
}

#main {
    @media (min-width: 1025px) {
        width: 600px;
        margin: auto;
        min-height: 100%;
    }
    position: relative;
    margin: 0 auto;
    min-height: 500px;
}

#claim {
    font-style: italic;
    margin-bottom: 40px;
}

#footer {
    text-align: center;
    padding-top: 100px;
    width: 600px;
    margin: 50px auto 100px auto;
}

#navigation {
    font-size: 1.3em;
    text-align: center;
    padding-inline-start: 0px;

    li {
        padding-right: 10px;
        display: inline;
        a {
            text-decoration: none;
        }
    }
}


.hashvalue {
    font-size: 0.7em;
}
