{% extends '_base.jinja' %}
{% block body %}
    <h2>About</h2>
    <p>
        menial is a webserver, written in C++ and licensed under a GPLv3 license. It is intended to be simple in setup and configuration.
    </p>
    <h2>Download</h2>
    <p>
        The source code can be downloaded here: <a href="menial.tar.gz">menial.tar.gz</a>
    </p>
    <p>
        This software comes without any warranty. You use it on your own risk. It may contain bugs, viruses or harm your hardware in another way. The developer is not responsible for any consequences which may occur because of using the software.
    </p>
    <h2>Documentation</h2>
    <p>
        Currently there is a <a href="{{ url_for('help.html') }}">help page</a> available which will help you with the configuration. An compiling and installation instruction will follow soon.
    </p>
{% endblock %}
