{% extends '_base.jinja' %}
{% block body %}
    <h2>menial</h2>
    <p>
        menial is licensed under a <a href="https://www.gnu.org/licenses/gpl.html">GPLv3 license</a>. The text of this license is included in the downloadable sources.
    </p>

    <h2>Third-party libraries</h2>
    <p>
        We would like to thank the developers of the third-party libraries which are used by menial. The following section gives information about the licenses of the included libraries.
    </p>
    <h3>RapidJSON</h3>
    <p>
        Copyright (C) 2015 THL A29 Limited, a Tencent company, and Milo Yip.  All rights reserved.
    </p>
    </p>
    <p>
        menial uses RapidJSON to parse the configuration file. The necessary parts are included in the downloadable sources on this page. RapidJSON is licensed under an MIT license and it states, that itself uses further third-party libraries with other licenses. Please check the license here: <a href="https://github.com/Tencent/rapidjson/blob/master/license.txt">Tencent on GitHub</a>. The license is also included into the downloadable sources of menial (./src/include/rapidjason/license.txt).
    </p>
    <p>
        Taken from the license notes: "Your integration of RapidJSON into your own projects may require compliance with the MIT License, as well as the other licenses applicable to the third-party components included within RapidJSON. To avoid the problematic JSON license in your own projects, it's sufficient to exclude the bin/jsonchecker/ directory, as it's the only code under the JSON license."
    </p>
    <p>
        The bin/jsonchecker/ directory is not part of menial or the downloadable sources.
    </p>

    <h3>OpenSSL</h3>
    <p>
        Copyright (c) 1998-2018 The OpenSSL Project.  All rights reserved.<br>
        All rights reserved.
    </p>
    <p>
        THIS SOFTWARE IS PROVIDED BY THE OpenSSL PROJECT ``AS IS'' AND ANY EXPRESSED OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL THE OpenSSL PROJECT OR ITS CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER  TRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    </p>
    <p>
        Copyright (C) 1995-1998 Eric Young (eay@cryptsoft.com)<br>
        All rights reserved.
    </p>
    <p>
        THIS SOFTWARE IS PROVIDED BY THE OpenSSL PROJECT ``AS IS'' AND ANY EXPRESSED OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL THE OpenSSL PROJECT OR ITS CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN TRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    </p>
    <p>
        menial uses OpenSSL for encrypted connections. Currently necessary precompiled binary files from OpenSSL are included in the downloadable sources and in the precompiled binary.
    </p>
{% endblock %}
